{% extends "base.html" %}
{% block header %}
<h4>Add Goal</h4>
{% endblock %}
{% block content %}

<!--EXISTING CODE-->
<form method="POST" action="{{ url_for('add_goal') }}">
  <!-- End Goal -->
  <div class="form-group row">
    <label for="goal_name" class="col-md-3 offset-md-1 col-form-label">What is your goal?</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="goal_name" name="goal_name" minlength="5" maxlength="70"
        pattern="^[a-zA-Z0-9]{5-15}$" aria-describedby="goal_nameHelp" required>
      <!--<small id="usernameHelp" class="form-text text-muted">Between 5 to 10 characters</small> -->
    </div>
  </div>
  <!-- target date -->
  <div class="form-group row">
    <label for="target_date" class="col-md-3 offset-md-1 col-form-label">By when do you want
      to achieve it?</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="target_date" name="target_date" required>
    </div>
  </div>
  <!-- Life area -->
  <div class="form-group row">
    <label for="category_name" class="col-md-3 offset-md-1 col-form-label">What is the life area for this goal?</label>
    <div class="col-md-6">
      <select class="form-control" id="category_name" name="category_name" required>
        <option value="" disabled selected>Choose Category</option>
        {% for category in categories %}
        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <!-- Succeed question -->
  <div class="form-group row">
    <label for="succeed_description" class="col-md-3 offset-md-1 col-form-label">How will you know when you have
      suceeded?</label>
    <div class="col-md-6">
      <!--<input type="text" class="form-control" id="succeed_description" name="succeed_description"
        minlength="5" maxlength="50" pattern="^[a-zA-Z0-9]{5-15}$" required>-->
      <textarea class="form-control" id="succeed_description" name="succeed_description" rows="3" minlength="5"
        maxlength="200" required></textarea>
    </div>
  </div>
  <!-- Effort -->
  <div class="form-group row">
    <label for="effort" class="col-md-3 offset-md-1 col-form-label">How much effort will you put in from 1 to
      10?</label>
    <div class="col-md-6">
      <select class="form-control" id="effort" name="effort" required>
        <option value="" disabled selected>Choose Category</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
  </div>
  {% endblock %}
  {% block footer %}
  <!-- Cancel button -->
  <a href="{{ url_for('get_goals') }}" role="button" class="btn btn-danger acc-header">Cancel</a>
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary">Next</button>
  {% endblock %}
</form>