{% extends "base.html" %}
{% block header %}
<h4>Manage categories</h4>
{% endblock %}
{% block content %}

<ul class="list-group">
    {% for category in categories %}
    <button type="button" class="list-group-item list-group-item-action text-left">
        <a href="" role="button" class="btn btn-primary">Edit</a>
        <a href="" role="button" class="btn btn-danger acc-header">Delete</a>
        {{ category.category_name }}
    </button>
    {% endfor %}
</ul>
{% endblock %}
{% block footer %}
<a href="{{ url_for('add_category') }}" class="btn btn-primary">Add category</a>
{% endblock %}