{% extends "base.html" %}
{% block jumbotron %}
<!-- Jumbotron Header -->
<header class="jumbotron jumbotron-categories my-4">
</header>
{% endblock %}
{% block header %}
<h4>Manage categories</h4>
{% endblock %}
{% block content %}

<ul class="list-group">
    {% for category in categories %}
    <button type="button" class="list-group-item list-group-item-action text-left">
        <a href="{{ url_for('delete_category', category_id=category._id) }}" role="button" class="btn btn-danger acc-header">Delete</a>
        <a href="{{ url_for('edit_category', category_id=category._id) }}" role="button" class="btn btn-primary">Edit</a>
        {{ category.category_name }}
    </button>
    {% endfor %}
</ul>
{% endblock %}
{% block footer %}
<a href="{{ url_for('add_category') }}" class="btn btn-primary">Add category</a>
{% endblock %}