{% extends "base.html" %}
{% block jumbotron %}
<!-- Jumbotron Header -->
<header class="jumbotron jumbotron-add_goal my-4">
</header>
{% endblock %}
{% block message %}
<!--Other notification messages-->
<div id="notification">
  <h4>Check you have completed the fields in all tabs!</h4>
</div>
{% endblock %}
{% block header %}
<h4>Add Goal</h4>
{% endblock %}
{% block content %}

<form method="POST" id="form-edit_goal" action="{{ url_for('edit_goal', goal_id=goal._id) }}">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link" id="nav-goal-tab" data-toggle="tab" href="#nav-goal" role="tab" aria-controls="nav-goal"
      aria-selected="false">Goal</a>
    <a class="nav-link" id="nav-reality-tab" data-toggle="tab" href="#nav-reality" role="tab"
      aria-controls="nav-reality" aria-selected="false">Reality</a>
    <a class="nav-link" id="nav-options-tab" data-toggle="tab" href="#nav-options" role="tab"
      aria-controls="nav-options" aria-selected="false">Options</a>
    <a class="nav-link active" id="nav-wayforward-tab" href="#nav-wayforward" role="tab" aria-controls="nav-wayforward"
      aria-selected="true">Way Forward</a>
  </div>
  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-goal" role="tabpanel" aria-labelledby="nav-goal-tab">
      <!-- End Goal -->
      <div class="form-group row">
        <label for="goal_name" class="col-md-3 offset-md-1 col-form-label text-left">What is your goal?</label>
        <div class="col-md-6">
          <input value="{{ goal.goal_name }}" type="text" class="form-control" id="goal_name" name="goal_name"
            minlength="2" maxlength="70" required>
        </div>
      </div>
      <!-- target date -->
      <div class="form-group row">
        <label for="target_date" class="col-md-3 offset-md-1 col-form-label text-left">By when do you want
          to achieve it?</label>
        <div class="col-md-6">
          <input value="{{ goal.target_date }}" type="text" class="form-control datepicker" id="target_date"
            name="target_date" required>
        </div>
      </div>
      <!-- Life area -->
      <div class="form-group row">
        <label for="category_name" class="col-md-3 offset-md-1 col-form-label text-left">What is the life area for this
          goal?</label>
        <div class="col-md-6">
          <select class="form-control" id="category_name" name="category_name" required>
            <option value="" disabled>Choose Category</option>
            {% for category in categories %}
            {% if category.category_name == goal.category_name %}
            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
            {% else %}
            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- Succeed question -->
      <div class="form-group row">
        <label for="succeed_description" class="col-md-3 offset-md-1 col-form-label text-left">How will you know when
          you have
          suceeded?</label>
        <div class="col-md-6">
          <textarea class="form-control" id="succeed_description" name="succeed_description" rows="2" minlength="2"
            maxlength="200" required>
        {{- goal.succeed_description -}}
      </textarea>
        </div>
      </div>
      <!-- Effort -->
      <div class="form-group row">
        <label for="effort" class="col-md-3 offset-md-1 col-form-label text-left">How much effort will you put in from 1
          to
          10?</label>
          <div class="col-md-6">
            <select class="form-control" size="1" id="effort" name="effort" required>
              <option disabled value>Choose number</option>
              <option value="{{ goal.effort }}" selected>{{ goal.effort }}</option>
              {% for i in range(1, 11) %}
              <option>{{ i }}
              </option>
              {% endfor %}
            </select>
          </div>
      </div>
      <!-- Cancel button -->
      <a href="{{ url_for('profile', username=session['user']) }}" role="button" class="btn btn-danger">Cancel</a>
      <!-- Next button -->
      <button type="button" class="button-reality btn btn-primary">Next</button>
    </div>
    <div class="tab-pane fade" id="nav-reality" role="tabpanel" aria-labelledby="nav-reality-tab">
      <!-- Actions so far -->
      <div class="form-group row">
        <label for="previous_action" class="col-md-3 offset-md-1 col-form-label text-left">What actions have you taken
          so
          far?</label>
        <div class="col-md-6">
          <input value="{{ goal.previous_action }}" type="text" class="form-control" id="previous_action"
            name="previous_action" minlength="2" maxlength="70" required>
        </div>
      </div>
      <!-- Confidence Level -->
      <div class="form-group row">
        <label for="confidence_level" class="col-md-3 offset-md-1 col-form-label text-left">What is your confidence
          level in
          completing this
          goal from 1 to 10?</label>
        <div class="col-md-6">
          <select class="form-control" size="1" id="confidence_level" name="confidence_level" required>
            <option disabled value>Choose number</option>
            <option value="{{ goal.confidence_level }}" selected>{{ goal.confidence_level }}</option>
            {% for i in range(1, 11) %}
            <option>{{ i }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- Holding_back -->
      <div class="form-group row">
        <label for="holding_back_description" class="col-md-3 offset-md-1 col-form-label text-left">What is holding you
          back?</label>
        <div class="col-md-6">
          <input value="{{ goal.holding_back_description }}" type="text" class="form-control"
            id="holding_back_description" name="holding_back_description" minlength="2" maxlength="70" required>
        </div>
      </div>
      <!-- Believe question -->
      <div class="form-group row">
        <label for="believe_description" class="col-md-3 offset-md-1 col-form-label text-left">What can you do to
          believe you can do it?</label>
        <div class="col-md-6">
          <textarea class="form-control" id="believe_description"
            name="believe_description" rows="2" minlength="2" maxlength="100"
            required>{{ goal.believe_description }}</textarea>
        </div>
      </div>
      <!-- Cancel button -->
      <a href="{{ url_for('profile', username=session['user']) }}" role="button" class="btn btn-danger">Cancel</a>
      <!-- Back button -->
      <button type="button" class="button-goal btn btn-secondary">Back</button>
      <!-- Next button -->
      <button type="button" class="button-options btn btn-primary">Next</button>
    </div>
    <div class="tab-pane fade" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">
      <!-- Courses of actions -->
      <div class="form-group row">
        <label for="goal.course_of_action0" class="col-md-3 offset-md-1 col-form-label text-left">What course of action
          can you
          take to achieve this?</label>
        <div class="col-md-6">
          <input value="{{goal.course_of_action[0]}}" type="text" class="form-control" id="goal.course_of_action0"
            name="goal.course_of_action" minlength="2" maxlength="100" required>
        </div>
      </div>
      <!-- No limits -->
      <div class="form-group row">
        <label for="goal.course_of_action1" class="col-md-3 offset-md-1 col-form-label text-left">If there were no
          limits what
          action would you take?</label>
        <div class="col-md-6">
          <input value="{{goal.course_of_action[1]}}" type="text" class="form-control" id="goal.course_of_action1"
            name="goal.course_of_action" minlength="2" maxlength="100" required>
        </div>
      </div>
      <!-- Wisest person -->
      <div class="form-group row">
        <label for="goal.course_of_action2" class="col-md-3 offset-md-1 col-form-label text-left">What action would the
          wisest person
          you know advise you to do?</label>
        <div class="col-md-6">
          <input value="{{goal.course_of_action[2]}}" type="text" class="form-control" id="goal.course_of_action2"
            name="goal.course_of_action" minlength="2" maxlength="70" required>
        </div>
      </div>
      <!-- If you were the coach -->
      <div class="form-group row">
        <label for="goal.course_of_action3" class="col-md-3 offset-md-1 col-form-label text-left">If you were the coach
          what
          action would you suggest?</label>
        <div class="col-md-6">

          <input value="{{goal.course_of_action[3]}}" type="text" class="form-control" id="goal.course_of_action3"
            name="goal.course_of_action" minlength="2" maxlength="70" required>
        </div>
      </div>
      <!-- If you couldn't fail -->
      <div class="form-group row">
        <label for="goal.course_of_action4" class="col-md-3 offset-md-1 col-form-label text-left">What action would you
          take if you
          couldn't fail?</label>
        <div class="col-md-6">
          <input value="{{goal.course_of_action[4]}}" type="text" class="form-control" id="goal.course_of_action4"
            name="goal.course_of_action" minlength="2" maxlength="70" required>
        </div>
      </div>
      <!-- Cancel button -->
      <a href="{{ url_for('profile', username=session['user']) }}" role="button" class="btn btn-danger">Cancel</a>
      <!-- Back button -->
      <button type="button" class="button-reality btn btn-secondary">Back</button>
      <!-- Next button -->
      <button type="submit" id="submit-options" name="submit-options" value="submit-options"
        class="button-wayforward btn btn-primary submit">Next</button>
    </div>
    <div class="tab-pane fade show active" id="nav-wayforward" role="tabpanel" aria-labelledby="nav-wayforward-tab">
      <!-- Choose option -->
      <div class="form-group row">
        <label for="category_name" class="col-md-3 offset-md-1 col-form-label text-left">Select the option you're going
          to
          take:</label>
        <div class="col-md-6">
          <select class="form-control" id="course_of_action" name="course_of_action" required>
            <option disabled value>Choose action</option>
            <option value="{{ goal.chosen_coa }}" selected>{{ goal.chosen_coa }}</option>
            {% for course_of_action in goal.course_of_action %}
            <option value="{{ course_of_action }}">{{ course_of_action }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- target date -->
      <div class="form-group row">
        <label for="target_date2" class="col-md-3 offset-md-1 col-form-label text-left">When are you going to
          start?</label>
        <div class="col-md-6">
          <input value="{{ goal.target_date2 }}" type="text" class="form-control datepicker" id="target_date2"
            name="target_date2" required>
        </div>
      </div>
      <!-- Will action meet your goal -->
      <div class="form-group row">
        <label for="meet_goal" class="col-md-3 offset-md-1 col-form-label text-left">Will this action meet your
          goal?</label>
        <div class="col-md-6 custom-control custom-switch custom-control-right">
          <input type="checkbox" name="meet_goal" class="custom-control-input col-md-3 get-value" id="meet_goal"
            {{ goal.meet_goal }}>
          <label class="custom-control-label text-left" for="meet_goal">Meets goal</label>
        </div>
      </div>
      <!-- Obstacles -->
      <div class="form-group row">
        <label for="obstacles" class="col-md-3 offset-md-1 col-form-label text-left">What obstacles might you
          meet?</label>
        <div class="col-md-6">
          <input value="{{ goal.obstacles }}" type="text" class="form-control" id="obstacles" name="obstacles"
            minlength="2" maxlength="70" required>
        </div>
      </div>
      <!-- Support -->
      <div class="form-group row">
        <label for="what_support" class="col-md-3 offset-md-1 col-form-label text-left">What support do you
          need?</label>
        <div class="col-md-6">
          <input value="{{ goal.what_support }}" type="text" class="form-control" id="what_support" name="what_support"
            minlength="2" maxlength="70" required>
        </div>
      </div>
      <!-- How to get support -->
      <div class="form-group row">
        <label for="how_support" class="col-md-3 offset-md-1 col-form-label text-left">How are you going to get that
          support?</label>
        <div class="col-md-6">
          <input value="{{ goal.how_support }}" type="text" class="form-control" id="how_support" name="how_support"
            minlength="2" maxlength="70" required>
        </div>
      </div>
      <!-- Likelihood -->
      <div class="form-group row">
        <label for="likelihood" class="col-md-3 offset-md-1 col-form-label text-left">What is the likelihood on a scale
          of 1 to 10
          that you will carry out this action?</label>
        <div class="col-md-6">
          <select class="form-control" size="1" id="likelihood" name="likelihood" required>
            <option disabled value>Choose number</option>
            <option value="{{ goal.likelihood }}" selected>{{ goal.likelihood }}</option>
            {% for i in range(1, 11) %}
            <option>{{ i }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- Share goal -->
      <div class="form-group row">
        <label for="share" class="col-md-3 offset-md-1 col-form-label text-left">Do you want to share this goal with
          other
          Goal-Getters?</label>
        <div class="col-md-6 custom-control custom-switch custom-control-right">
          <input type="checkbox" name="share" class="custom-control-input col-md-3" id="share" {{ goal.share }}>
          <label class="custom-control-label" for="share">Share goal</label>
        </div>
      </div>
      <!-- Field validation alert -->
      <div class="form-group row">
        <div class="offset-md-3 col-md-6 text-center">
          <div id="alert" class="alert alert-danger" role="alert">
            Check you have completed the fields in all tabs!
          </div>
        </div>
      </div>
        <!-- Cancel button -->
        <a href="{{ url_for('profile', username=session['user']) }}" role="button" class="btn btn-danger">Cancel</a>
        <!-- Back button -->
        <button type="button" class="button-options btn btn-secondary">Back</button>
        <!-- Submit button -->
        <button type="submit" id="submit-wayforward" name="submit" class="submit btn btn-primary">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
{% block footer %}
<br>
{% endblock %}