{% extends "base.html" %}
{% block header %}
<h4>Edit Goal</h4>
{% endblock %}
{% block content %}

<!--EXISTING CODE-->
<form method="POST" action="{{ url_for('edit_goal', goal_id=goal._id) }}">
  <!-- End Goal -->
  <div class="form-group row">
    <label for="goal_name" class="col-md-3 offset-md-1 col-form-label">What is your goal?</label>
    <div class="col-md-6">
      <input value="{{ goal.goal_name }}" type="text" class="form-control" id="goal_name" name="goal_name" minlength="5"
        maxlength="70" pattern="^[a-zA-Z0-9]{5-15}$" aria-describedby="goal_nameHelp" required>
      <!--<small id="usernameHelp" class="form-text text-muted">Between 5 to 10 characters</small> -->
    </div>
  </div>
  <!-- target date -->
  <div class="form-group row">
    <label for="target_date" class="col-md-3 offset-md-1 col-form-label">By when do you want
      to achieve it?</label>
    <div class="col-md-6">
      <input value="{{ goal.target_date }}" type="text" class="form-control datepicker" id="target_date"
        name="target_date" required>
    </div>
  </div>
  <!-- Life area -->
  <div class="form-group row">
    <label for="category_name" class="col-md-3 offset-md-1 col-form-label">What is the life area for this goal?</label>
    <div class="col-md-6">
      <select class="form-control" id="category_name" name="category_name" required>
        <option value="" disabled>Choose Category</option>
        {% for category in categories %}
        {% if category.category_name == goal.category_name %}
        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
        {% else %}
        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <!-- Succeed question -->
  <div class="form-group row">
    <label for="succeed_description" class="col-md-3 offset-md-1 col-form-label">How will you know when you have
      suceeded?</label>
    <div class="col-md-6">
      <!--<input type="text" class="form-control" id="succeed_description" name="succeed_description"
        minlength="5" maxlength="50" pattern="^[a-zA-Z0-9]{5-15}$" required>-->
      <textarea class="form-control" id="succeed_description" name="succeed_description" rows="3" minlength="5"
        maxlength="200" required>
        {{- goal.succeed_description -}}
      </textarea>
    </div>
  </div>
  <!-- Effort -->
  <div class="form-group row">
    <label for="effort" class="col-md-3 offset-md-1 col-form-label">How much effort will you put in from 1 to
      10?</label>
    <div class="col-md-6">
      <select class="form-control" id="effort" name="effort" required>
        <option value="{{ goal.effort }}" selected>{{ goal.effort }}</option>
        {% for i in range(1, 11) %}
        <option value="">{{ i }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% endblock %}
</form>
{% block footer %}
<!-- Cancel button -->
<a href="{{ url_for('get_goals') }}" role="button" class="btn btn-danger acc-header">Cancel</a>
<!-- Submit button -->
<button type="submit" class="btn btn-primary">Edit Goal</button>
{% endblock %}