{% extends "base.html" %}
{% block header %}
<h4>Way Forward</h4>
{% endblock %}
{% block content %}

<form method="POST" action="{{ url_for('edit_wayforward', goal_id=goal._id) }}">

  <!-- Choose option -->
  <div class="form-group row">
    <label for="category_name" class="col-md-3 offset-md-1 col-form-label">Select the option you're going to
      take:</label>
    <div class="col-md-6">
      <select class="form-control" id="course_of_action" name="course_of_action" required>
        <option value="" disabled selected>Options:</option>
        {% for course_of_action in goal.course_of_action %}
        <option value="{{ course_of_action }}">{{ course_of_action }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <!-- target date -->
  <div class="form-group row">
    <label for="target_date2" class="col-md-3 offset-md-1 col-form-label">By when are you going to do it?</label>
    <div class="col-md-6">
      <input value="{{ goal.target_date2 }}" type="text" class="form-control datepicker" id="target_date2" name="target_date2" required>
    </div>
  </div>
  <!-- Will action meet your goal -->
  <div class="form-group row">
    <label for="meet_goal" class="col-md-3 offset-md-1 col-form-label">Will this action meet your goal?</label>
    <div class="col-md-6 custom-control custom-switch custom-control-right">
      <input value="{{ goal.meet_goal }}" type="checkbox" name="meet_goal" class="custom-control-input col-md-3 get-value" id="meet_goal">
      <label class="custom-control-label" for="meet_goal">Meets goal</label>
    </div>
  </div>
  <!-- Obstacles -->
  <div class="form-group row">
    <label for="obstacles" class="col-md-3 offset-md-1 col-form-label">What obstacles might you meet?</label>
    <div class="col-md-6">
      <input value="{{ goal.obstacles }}" type="text" class="form-control" id="obstacles" name="obstacles" minlength="5" maxlength="70"
        pattern="^[a-zA-Z0-9]{5-15}$" aria-describedby="obstaclesHelp" required>
    </div>
  </div>
  <!-- Support -->
  <div class="form-group row">
    <label for="what_support" class="col-md-3 offset-md-1 col-form-label">What support do you need?</label>
    <div class="col-md-6">
      <input value="{{ goal.what_support }}" type="text" class="form-control" id="what_support" name="what_support" minlength="5" maxlength="70"
        pattern="^[a-zA-Z0-9]{5-15}$" aria-describedby="what_supportHelp" required>
    </div>
  </div>
  <!-- How to get support -->
  <div class="form-group row">
    <label for="how_support" class="col-md-3 offset-md-1 col-form-label">How are you going to get that support?</label>
    <div class="col-md-6">
      <input value="{{ goal.how_support }}" type="text" class="form-control" id="how_support" name="how_support" minlength="5" maxlength="70"
        pattern="^[a-zA-Z0-9]{5-15}$" aria-describedby="how_supportHelp" required>
    </div>
  </div>
  <!-- Likelihood -->
  <div class="form-group row">
    <label for="likelihood" class="col-md-3 offset-md-1 col-form-label">What is the likelihood on a scale of 1 to 10
      that
      you will carry out this action?</label>
    <div class="col-md-6">
      <select class="form-control" id="likelihood" name="likelihood" required>
        <option value="" disabled selected>{{ goal.likelihood }}</option>
        {% for i in range(1, 11) %}
        <option>{{ i }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <!-- Share goal -->
  <div class="form-group row">
    <label for="share" class="col-md-3 offset-md-1 col-form-label">Do you want to share this goal other
      Goal-Getters?</label>
    <div class="col-md-6 custom-control custom-switch custom-control-right">
      <input value="{{ goal.share }}" type="checkbox" name="share" class="custom-control-input col-md-3 get-value" id="share" checked>
      <label class="custom-control-label" for="share">Share goal</label>
    </div>
  </div>

  {% endblock %}
  {% block footer %}
  <!-- Cancel button -->
  <a href="{{ url_for('get_goals') }}" role="button" class="btn btn-danger acc-header">Cancel</a>
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary">Next</button>
  {% endblock %}
</form>