{% extends "base.html" %}
{% block header %}
<h4>Goals</h4>
{% endblock %}

{% block content %}
<!--<h2>I'm extending the base template</h2>-->

<div id="accordion">
  {% for goal in goals %}
  
  <h4>
    <a href="#" role="button" class="btn btn-success">Done</a>
    <a href="{{ url_for('edit_goal', goal_id=goal._id) }}" role="button" class="btn btn-info">Edit</a>
    <span id="accordion-text" class="text-left font-weight-bold">{{ goal.goal_name }} : </span>{{ goal.target_date }}
  </h4>

  <div>
    <p>Description: {{ goal.succeed_description }}</p>
    <p>Effort: {{ goal.effort }}</p>
    <p class="font-italic">By: {{ goal.created_by }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}

<