{% extends "base.html" %}
{% block jumbotron %}
<!-- Jumbotron Header -->
<header class="jumbotron jumbotron-goals my-4">
</header>
{% endblock %}
{% block header %}
<h4>Shared Goals In Progress</h4>
{% endblock %}

{% block content %}
<div>
  <form method="POST" action="{{ url_for('search') }}">
    <!-- Search box -->
    <div class="form-group row mb-4">
      <i class="d-none d-md-inline offset-md-1 col-md-1 fas fa-search fa-lg"></i>
      <label for="query" class="col-form-label"></label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="query" name="query" minlength="5" maxlength="70" placeholder="Search Goals" required>
      </div>
      <div class="col-md-4">
        <!-- Reset button -->
        <a href="{{ url_for('get_goals') }}" role="button" class="ml-1 ml-md-0 mt-1 mt-md-0 float-right float-md-left btn btn-secondary acc-header">Reset</a>
        <!-- Submit button -->
        <button type="submit" class="float-right float-md-left ml-md-1 mt-1 mt-md-0 btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>

<!-- Card for shared goals in progress-->
<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2">
  {% for goal in goals %}
  {% if goal.share == "checked" and goal.is_complete == "unchecked" %}
  <div class="col mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ goal.goal_name }}</h5>
        <p class="card-text">Target date: <span class="text-info">{{ goal.target_date }}
          </span> <span>By: <span class="text-info">{{ goal.created_by }}</span></span></p>
        <!-- More Info button -->
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse_{{ goal._id }}"
          aria-expanded="false" aria-controls="collapseExample">
          More info
        </button>
        <!-- Delete, Done and Edit buttons only available if session user is creator -->
        {% if session.user|lower == goal.created_by|lower %}
        <!-- Delete button and trigger modal -->
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteModal_{{ goal._id }}"
          onclick=>
          Delete
        </button>
        <!-- Done button -->
        <a href="{{ url_for('complete_goal', goal_id=goal._id) }}" role="button" id="btn-done" class="btn btn-success">Done</a>
        <!-- Edit button -->
        <a href="{{ url_for('edit_goal', goal_id=goal._id) }}" role="button" id="btn-edit" class="btn btn-primary">Edit</a>
        {% endif %}
	<!-- Collapsible card content -->
        <div class="collapse" id="collapse_{{ goal._id }}">
          <div class="mt-3 card card-body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-goal-tab" data-toggle="tab" href="#nav-goal_{{ goal._id }}"
                  role="tab" aria-controls="nav-goal" aria-selected="true">Goal</a>
                <a class="nav-link" id="nav-reality-tab" data-toggle="tab" href="#nav-reality_{{ goal._id }}" role="tab"
                  aria-controls="nav-reality" aria-selected="false">Reality</a>
                <a class="nav-link" id="nav-options-tab" data-toggle="tab" href="#nav-options_{{ goal._id }}" role="tab"
                  aria-controls="nav-options" aria-selected="false">Options</a>
                <a class="nav-link" id="nav-wayforward-tab" data-toggle="tab" href="#nav-wayforward_{{ goal._id }}"
                  role="tab" aria-controls="nav-wayforward" aria-selected="false">Way Forward</a>
              </div>
            </nav>
            <div class="tab-content mt-5 text-left" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-goal_{{ goal._id }}" role="tabpanel"
                aria-labelledby="nav-goal-tab">
                <p>Description:<span class="text-info"> {{ goal.succeed_description }}</span></p>
                <p>Effort:<span class="text-info"> {{ goal.effort }}</span></p>
              </div>
              <div class="tab-pane fade" id="nav-reality_{{ goal._id }}" role="tabpanel"
                aria-labelledby="nav-reality-tab">
                <p>Actions completed already:<span class="text-info"> {{ goal.previous_action }}</span></p>
                <p>Confidence Level:<span class="text-info"> {{ goal.confidence_level }}</span></p>
                <p>What's holding me back:<span class="text-info"> {{ goal.holding_back_description }}</span></p>
                <p>What will make me believe:<span class="text-info"> {{ goal.believe_description }}</span></p>
              </div>
              <div class="tab-pane fade" id="nav-options_{{ goal._id }}" role="tabpanel"
                aria-labelledby="nav-options-tab">
                <p>Possible courses of action:
                  <ol>
                    {% for course_of_action in goal.course_of_action %}
                    <li>{{ course_of_action }}</li>
                    {% endfor %}
                  </ol>
                </p>
              </div>
              <div class="tab-pane fade" id="nav-wayforward_{{ goal._id }}" role="tabpanel"
                aria-labelledby="nav-wayforward-tab">
                <p>Chosen course of action:<span class="text-info"> {{ goal.chosen_coa }}</span></p>
                <p>Start date:<span class="text-info"> {{ goal.target_date2 }}</span></p>
                <p>Will the action meet your goal:<span class="text-info"> {{ goal.meet_goal }}</span></p>
                <p>Obstacles:<span class="text-info"> {{ goal.obstacles }}</span></p>
                <p>Support required:<span class="text-info"> {{ goal.what_support }}</span></p>
                <p>How you will get support:<span class="text-info"> {{ goal.how_support }}</span></p>
                <p>Likelihood of completing:<span class="text-info"> {{ goal.likelihood }}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal_{{ goal._id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">Confirm Deletion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <span class="font-weight-bold"> {{ goal.goal_name }}</span> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{{ url_for('delete_goal', goal_id=goal._id) }}" role="button" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
  
  {% endif %}
  {% endfor %}
</div>
{% endblock %}

<