{% extends "base.html" %}
{% block header %}
<h4>Goals</h4>
{% endblock %}

{% block content %}
<!--<h2>I'm extending the base template</h2>-->
<div id="accordion">
  {% for goal in goals %}
  <h3><span id="accordion-text" class="text-left font-weight-bold">{{ goal.goal_name }} : </span>{{ goal.target_date }}</h3>
  <div>
    <p>Description: {{ goal.succeed_description }}</p>
    <p>Effort: {{ goal.effort }}</p>
    <p class="font-italic">By: {{ goal.created_by }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}

<