{% extends "base.html" %}
{% block header %}
<h4>{{ username.capitalize() }}'s profile</h4>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h4 class="text-center">
      My Goals In Progress
    </h4>
  </div>
</div>

<!-- Accordion for goals in progress -->
<div class="accordion">
  {% for goal in goals %}
  {% if goal.is_complete == "unchecked" and session.user|lower == goal.created_by|lower%}
  <!-- Accordion header with buttons -->
  <h4>
    <!-- Delete button and trigger modal -->
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteModal_{{ goal._id }}"
      onclick=>
      Delete
    </button>
    <!-- Done button -->
    <a href="{{ url_for('complete_goal', goal_id=goal._id) }}" onclick="event.stopPropagation()" role="button"
      class="btn btn-success">Done</a>
    <!-- Add onclick event to enable link.  Source: https://stackoverflow.com/questions/332384/jquery-accordion-links-dont-work -->
    <!-- Edit button -->
    <a href="{{ url_for('edit_goal', goal_id=goal._id) }}" onclick="event.stopPropagation()" role="button"
      class="btn btn-info acc-header">Edit</a>
    <!-- Copy button -->
    <a href="{{ url_for('copy_goal', goal_id=goal._id) }}" onclick="event.stopPropagation()" role="button"
      class="btn btn-secondary acc-header">Copy</a>
    <span id="accordion-text" class="text-left font-weight-bold">{{ goal.goal_name }} : </span>{{ goal.target_date }}
  </h4>
  <!-- Accordion content-->
  <div>
    <p>Description: {{ goal.succeed_description }}</p>
    <p>Effort: {{ goal.effort }}</p>
    <p>Actions completed already: {{ goal.previous_action }}</p>
    <p>Confidence Level: {{ goal.confidence_level }}</p>
    <p>What's holding me back: {{ goal.holding_back_description }}</p>
    <p>What will make me believe: {{ goal.believe_description }}</p>
    <p>Possible courses of action:</p>
    <ol>
      {% for course_of_action in goal.course_of_action %}
      <li>{{ course_of_action }}</li>
      {% endfor %}
    </ol>
    <p>Possible courses of action1:</p>
    <ol>
      {% for course_of_action1 in goal.course_of_action1 %}
      <li>{{ course_of_action1 }}</li>
      {% endfor %}
    </ol>

    <p>Chosen course of action:</p>
    <ul>
      <li>{{ goal.chosen_coa }}</li>
    </ul>

    <p>Start date: {{ goal.target_date2 }}</p>
    <p>Will the action meet your goal: {{ goal.meet_goal }}</p>
    <p>Obstacles: {{ goal.obstacles }}</p>
    <p>Support required: {{ goal.what_support }}</p>
    <p>How you will get support: {{ goal.how_support }}</p>
    <p>Liklihood of completing: {{ goal.likelihood }}</p>
    <p>Sharing: {{ goal.share }}</p>
    <p class="font-italic">By: {{ goal.created_by }}</p>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal_{{ goal._id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">Confirm Deletion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <span class="font-weight-bold"> {{ goal.goal_name }}</span> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{{ url_for('delete_goal', goal_id=goal._id) }}" role="button" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h4 class="text-center">
      My Goals Completed
    </h4>
  </div>
</div>

<!-- Accordion for goals completed -->
<div class="accordion">
  {% for goal in goals %}
  {% if goal.is_complete == "checked" and session.user|lower == goal.created_by|lower%}
  <!-- Accordion header with buttons -->
  <h4>
    <!-- Delete button and trigger modal -->
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteModal_{{ goal._id }}"
      onclick=>
      Delete
    </button>
    <!-- Move to In Progress button -->
    <a href="{{ url_for('moveto_inprogress', goal_id=goal._id) }}" onclick="event.stopPropagation()" role="button"
      class="btn btn-info">In Progress</a>
    <!-- Goal and completion date header -->
    <span id="accordion-text" class="text-left font-weight-bold">{{ goal.goal_name }} : </span>{{ goal.target_date }}
  </h4>
  <!-- Accordion content-->
  <div>
    <p>Description: {{ goal.succeed_description }}</p>
    <p>Effort: {{ goal.effort }}</p>
    <p>Actions completed already: {{ goal.previous_action }}</p>
    <p>Confidence Level: {{ goal.confidence_level }}</p>
    <p>What's holding me back: {{ goal.holding_back_description }}</p>
    <p>What will make me believe: {{ goal.believe_description }}</p>
    <p>Possible courses of action:</p>
    <ol>
      {% for course_of_action in goal.course_of_action %}
      <li>{{ course_of_action }}</li>
      {% endfor %}
    </ol>
    <p>Possible courses of action1:</p>
    <ol>
      {% for course_of_action1 in goal.course_of_action1 %}
      <li>{{ course_of_action1 }}</li>
      {% endfor %}
    </ol>

    <p>Chosen course of action:</p>
    <ul>
      <li>{{ goal.chosen_coa }}</li>
    </ul>

    <p>Start date: {{ goal.target_date2 }}</p>
    <p>Will the action meet your goal: {{ goal.meet_goal }}</p>
    <p>Obstacles: {{ goal.obstacles }}</p>
    <p>Support required: {{ goal.what_support }}</p>
    <p>How you will get support: {{ goal.how_support }}</p>
    <p>Liklihood of completing: {{ goal.likelihood }}</p>
    <p>Sharing: {{ goal.share }}</p>
    <p class="font-italic">By: {{ goal.created_by }}</p>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal_{{ goal._id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">Confirm Deletion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <span class="font-weight-bold"> {{ goal.goal_name }}</span> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{{ url_for('delete_goal', goal_id=goal._id) }}" role="button" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>



{% endblock %}