{% extends "base.html" %}
{% block header %}
<h4>Register</h4>
{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('register') }}">
  <!-- username -->
  <div class="form-group row">
    <label for="username" class="col-md-2 offset-md-1 col-form-label">Username</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="username" name="username" minlength="5" maxlength="15"
        pattern="^[a-zA-Z0-9]{5-15}$" aria-describedby="usernameHelp" required>
    </div>
  </div>
  <!-- password -->
  <div class="form-group row">
    <label for="password" class="col-md-2 offset-md-1 col-form-label">Password</label>
    <div class="col-md-6">
      <input type="password" class="form-control" id="password" name="password" minlength="5" maxlength="15"
        pattern="^[a-zA-Z0-9]{5-15}$" required>
    </div>
  </div>
  <!-- Register button -->
  <button type="submit" class="btn btn-primary">Register</button>
</form>
<!-- Log In message -->
<div class="row">
  <div class="col-md-12">
    <p class="center-align">
      Already registered? <a href="{{ url_for('login') }}" class="">Log In</a>
    </p>
  </div>
</div>
{% endblock %}